<div layout="row" layout-align="center center" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<md-card ng-show="!loading">
    <md-tabs md-border-bottom md-dynamic-height>
        <md-tab label="Albums" md-on-select="loadAlbums()">
            <md-content class="md-padding">
                <div layout="row" layout-align="center center" ng-show="albumsLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-list>
                    <md-list-item ng-repeat="album in albums" ng-click="showReleaseGroup(album)" class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>{{album.title}}</h3>
                            <p>{{album['first-release-date']}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Singles" md-on-select="loadSingles()">
            <md-content class="md-padding">
                <div layout="row" layout-align="center center" ng-show="singlesLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-card>
