<md-tabs md-dynamic-height="true" class="md-primary">
    <md-tab label="Artist">
        <md-card>
            <md-card-content>
                <form ng-submit="searchArtist()" layout="column">
                    <md-input-container>
                        <label for="artistname">Name</label>
                        <input id="artistname" ng-model="artist.name" />
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">Search</md-button>
                </form>
            </md-card-content>
        </md-card>

        <md-card ng-show="artists">
            <md-card-content>
                <div layout="row" layout-align="center center" ng-show="searchingArtist">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="artist in artists" ng-click="showArtist(artist)">
                        <div class="md-list-item-text">
                            <h3>{{artist.name}}</h3>
                            <p>{{artist.type}}, {{artist.country}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Release Group">
        <md-card>
            <md-card-content>
                <form layout="column" ng-submit="searchReleaseGroup()">
                    <md-input-container>
                        <label for="releaseGroupTitle">Title</label>
                        <input id="releaseGroupTitle" ng-model="releaseGroup.title" />
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">Search
                    </md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Release">
        <md-card>
            <md-card-content layout="column">
                <form layout="column" ng-submit="searchRelease()">
                    <md-input-container>
                        <label for="releaseTitle">Title</label>
                        <input id="releaseTitle" ng-model="release.title" />
                    </md-input-container>
                    <md-input-container>
                        <label for="releaseArtist">Artist</label>
                        <input id="releaseArtist" ng-model="release.artist" />
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">Search</md-button>
                </form>
            </md-card-content>
        </md-card>
        <md-card ng-show="releases">
            <md-card-content>
                <div layout="row" layout-align="center center" ng-show="searchingRelease">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="release in releases" ng-click="showRelease(release)">
                        <div class="md-list-item-text">
                            <h3>{{release.title}}</h3>
                            <p>{{release['artist-credit']|ddrMbArtistCredit}}</p>
                            <p>{{release.country}}, {{release.date}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Recording">
        <md-card>
            <md-card-content layout="column">
                <form layout="column" ng-submit="searchRecording()">
                    <md-input-container>
                        <label for="recordingTitle">Title</label>
                        <input id="recordingTitle" ng-model="recording.title" />
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">Search</md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-tab>
</md-tabs>
