<md-card ng-repeat="medium in release.media">
    <md-card-title ng-show="medium.title">
        <span class="md-headline">{{medium.title}}</span>
    </md-card-title>
    <md-card-content>
        <md-list>
            <md-list-item ng-repeat="track in medium.tracks" class="md-2-line">
                <div class="md-list-item-text">
                    <h3>{{track.title}}</h3>
                    <p>{{track.recording['artist-credit']|ddrMbArtistCredit}}</p>
                </div>
                <span class="md-secondary">{{track.length|ddrMbDuration}}</span>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
