<div layout="row" layout-align="center center" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


<md-card ng-show="!loading">
    <md-card-header>
        <md-card-header-text>
            <h1 class="md-title">{{releaseGroup.title}}</h1>
            <span class="md-subhead">{{releaseGroup['artist-credit']|ddrMbArtistCredit}}</span>
        </md-card-header-text>
    </md-card-header>
</md-card>

<md-card ng-show="!loading">
    <md-card-content>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="release in releaseGroup.releases" ng-click="showRelease(release)">
                <div class="md-list-item-text">
                    <h3>{{release['artist-credit']|ddrMbArtistCredit}} - {{release.title}}</h3>
                    <p>{{release.date}}, {{release.country}}, {{release.status}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
