<ng-container *ngIf="(release$ | async) as release">
    <mat-card [releaseCover]="release" class="mb-3">
        <h2 class="mat-title mb-1 text-muted" [artist-credits]="release.artistCredits"></h2>
        <h1 class="mat-headline">{{release.title}}</h1>
    </mat-card>

    <mat-card *ngFor="let medium of release.media" class="mb-3">
        <mat-card-title *ngIf="medium.title">{{medium.title}}</mat-card-title>
        <mat-list class="mt-0">
            <mat-list-item *ngFor="let track of medium.tracks">
                <span matListIcon>{{track.position}}</span>
                <h3 mat-line>{{track.title}}</h3>
                <p mat-line class="text-muted" [artist-credits]="track.recording.artistCredits"></p>
                <div>
                    {{track.length|mbDuration}}
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card>
</ng-container>
