<div *ngIf="loading" class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="(artist$ | async) as artist">
    <mat-card>
        <h1 class="mat-headline">{{artist.name}}</h1>
    </mat-card>
</div>

<mat-card class="card-standalone card-nopadding"
          *ngIf="(categorizedReleaseGroups$ | async) as categorizedReleaseGroups">
    <mat-tab-group>
        <mat-tab label="Album" *ngIf="categorizedReleaseGroups.albums.length > 0">
            <mat-grid-list [cols]="(gridColumns$ | async)" rowHeight="1:1">
                <mat-grid-tile
                        *ngFor="let releaseGroup of categorizedReleaseGroups.albums | mbReleaseroupSecondaryType:secondaryTypes; trackBy: trackById"
                        [releaseGroupCover]="releaseGroup" class="release-group"
                        (click)="showReleaseGroup(releaseGroup)">
                    <mat-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Single" *ngIf="categorizedReleaseGroups.singles.length > 0">
            <mat-grid-list [cols]="(gridColumns$ | async)" rowHeight="1:1">
                <mat-grid-tile *ngFor="let releaseGroup of categorizedReleaseGroups.singles"
                               [releaseGroupCover]="releaseGroup"
                               class="release-group" (click)="showReleaseGroup(releaseGroup)">
                    <mat-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="EP" *ngIf="categorizedReleaseGroups.eps.length > 0">
            <mat-grid-list [cols]="(gridColumns$ | async)" rowHeight="1:1">
                <mat-grid-tile *ngFor="let releaseGroup of categorizedReleaseGroups.eps"
                               [releaseGroupCover]="releaseGroup"
                               class="release-group" (click)="showReleaseGroup(releaseGroup)">
                    <mat-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Broadcast" *ngIf="categorizedReleaseGroups.broadcasts.length > 0">
            <mat-grid-list [cols]="(gridColumns$ | async)" rowHeight="1:1">
                <mat-grid-tile *ngFor="let releaseGroup of categorizedReleaseGroups.broadcasts"
                               [releaseGroupCover]="releaseGroup"
                               class="release-group" (click)="showReleaseGroup(releaseGroup)">
                    <mat-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Other" *ngIf="categorizedReleaseGroups.others.length > 0">
            <mat-grid-list [cols]="(gridColumns$ | async)" rowHeight="1:1">
                <mat-grid-tile *ngFor="let releaseGroup of categorizedReleaseGroups.others"
                               [releaseGroupCover]="releaseGroup"
                               class="release-group" (click)="showReleaseGroup(releaseGroup)">
                    <mat-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>
