<md-sidenav-container fullscreen>
    <md-sidenav #sidenav>
        <md-toolbar color="primary">
            Musicbrainz
        </md-toolbar>
        <md-nav-list>
            <a md-list-item
               tabindex="-1"
               (click)="sidenav.close()"
               [routerLink]="['/']">
                Home
            </a>
            <a md-list-item
               tabindex="-1"
               (click)="sidenav.close()"
               [routerLink]="['/search']">
                Search
            </a>
        </md-nav-list>
    </md-sidenav>
    <div>
        <md-toolbar color="primary" id="main-toolbar">
            <button md-icon-button (click)="sidenav.open()">
                <md-icon class="md-24">menu</md-icon>
            </button>
            <h1>Musicbrainz Browser</h1>
        </md-toolbar>

        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>
