<div *ngIf="loading" class="loader">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>

<div *ngIf="!loading">
    <md-card>
        <h1 class="mat-headline">{{artist.name}}</h1>
    </md-card>
</div>

<md-card class="card-standalone card-nopadding" *ngIf="!loading">
    <md-tab-group>
        <md-tab label="Album" *ngIf="releaseGroups.album.length > 0">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of releaseGroups.album" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="Single" *ngIf="releaseGroups.single.length > 0">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of releaseGroups.single" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="EP" *ngIf="releaseGroups.ep.length > 0">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of releaseGroups.ep" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="Broadcast" *ngIf="releaseGroups.broadcast.length > 0">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of releaseGroups.broadcast" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="Other" *ngIf="releaseGroups.other.length > 0">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of releaseGroups.other" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
    </md-tab-group>
</md-card>
