<div *ngIf="loading" class="loader">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>

<div *ngIf="!loading && artist">
    <md-card>
        <h1>{{artist.name}}</h1>
    </md-card>
</div>

<md-card class="card-standalone card-nopadding">
    <md-tab-group>
        <md-tab label="Album">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of albums" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="Single">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of singles" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="EP">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of eps" [releaseGroupCover]="releaseGroup" class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
        <md-tab label="Other">
            <md-grid-list [cols]="numCols()" rowHeight="1:1">
                <md-grid-tile *ngFor="let releaseGroup of other" [releaseGroupCover]="releaseGroup"
                              class="release-group">
                    <md-grid-tile-footer>
                        <h3 mat-line>{{releaseGroup.title}}</h3>
                        <h4 mat-line>{{releaseGroup.firstReleaseDate | flexDate}}</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-tab>
    </md-tab-group>
</md-card>
