<div *ngIf="loading" class="loader">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>

<md-card *ngIf="!loading && releaseGroup != null">
    <h2 class="mat-title" [artist-credits]="releaseGroup.artistCredits"></h2>
    <h1 class="mat-headline">{{releaseGroup.title}}</h1>
</md-card>

<md-card class="card-standalone card-compact" *ngIf="!loading">
    <md-nav-list>
        <a md-list-item *ngFor="let release of releases"
           [routerLink]="['/release', release.id]">
            <h3 mat-line>{{release.title}}</h3>
            <p mat-line>{{release.country}}, {{release.date | flexDate}}</p>
        </a>
    </md-nav-list>
</md-card>
