<ng-container *ngIf="(release$ | async) as release">
    <mat-card [releaseCover]="release">
        <h2 class="mat-title" [artist-credits]="release.artistCredits"></h2>
        <h1 class="mat-headline">{{release.title}}</h1>
    </mat-card>

    <mat-card *ngFor="let medium of release.media" class="card-standalone card-compact">
        <mat-list>
            <mat-list-item *ngFor="let track of medium.tracks">
                <h3 mat-line>{{track.title}}</h3>
                <p [artist-credits]="track.recording.artistCredits" mat-line></p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</ng-container>
