<mat-tab-group backgroundColor="primary" color="accent">
    <mat-tab label="Artist">

        <mat-card class="card-standalone">
            <mat-card-content>
                <form (ngSubmit)="searchArtists()" #artistSearchForm="ngForm">
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Search" [(ngModel)]="searchString.artists"
                                   name="artist" />
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary">Search</button>
                </form>
            </mat-card-content>
        </mat-card>

        <div *ngIf="loading.artists" class="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-card class="card-standalone" *ngIf="result.artists">
            <mat-nav-list>
                <a mat-list-item *ngFor="let artist of result.artists; trackBy: trackById"
                   [routerLink]="['/artists', artist.id]">
                    <h3 mat-line>{{artist.name}}</h3>
                    <p mat-line>{{artist.disambiguation}}</p>
                </a>
            </mat-nav-list>
        </mat-card>

    </mat-tab>
    <mat-tab label="Release Group">

        <mat-card class="card-standalone">
            <mat-card-content>
                <form (ngSubmit)="searchReleaseGroups()" #releaseGroupSearchForm="ngForm">
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Search" [(ngModel)]="searchString.releaseGroups"
                                   name="releaseGroup" />
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary">Search</button>
                </form>
            </mat-card-content>
        </mat-card>

        <div *ngIf="loading.releaseGroups" class="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-card class="card-standalone" *ngIf="result.releaseGroups">
            <mat-nav-list>
                <a mat-list-item *ngFor="let releaseGroup of result.releaseGroups; trackBy: trackById"
                   [routerLink]="['/release-group', releaseGroup.id]">
                    <h3 mat-line>{{releaseGroup.title}}</h3>
                    <p mat-line [artist-credits]="releaseGroup.artistCredits"></p>
                </a>
            </mat-nav-list>
        </mat-card>

    </mat-tab>
    <mat-tab label="Release">

        <mat-card class="card-standalone">
            <mat-card-content>
                <form (ngSubmit)="searchReleases()" #releaseSearchForm="ngForm">
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Search" [(ngModel)]="searchString.releases"
                                   name="release" />
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary">Search</button>
                </form>
            </mat-card-content>
        </mat-card>

        <div *ngIf="loading.releases" class="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-card class="card-standalone" *ngIf="result.releases">
            <mat-nav-list>
                <a mat-list-item *ngFor="let release of result.releases; trackBy: trackById"
                   [routerLink]="['/release', release.id]">
                    <h3 mat-line>{{release.title}}</h3>
                    <p mat-line [artist-credits]="release.artistCredits"></p>
                </a>
            </mat-nav-list>
        </mat-card>

    </mat-tab>
    <mat-tab label="Recording">

        <mat-card class="card-standalone">
            <mat-card-content>
                <form (ngSubmit)="searchRecordings()" #recordingSearchForm="ngForm">
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Search" [(ngModel)]="searchString.recordings"
                                   name="recording" />
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary">Search</button>
                </form>
            </mat-card-content>
        </mat-card>

        <div *ngIf="loading.recordings" class="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-card class="card-standalone" *ngIf="result.recordings">
            <mat-nav-list>
                <a mat-list-item *ngFor="let recording of result.recordings; trackBy: trackById"
                   [routerLink]="['/recording', recording.id]">
                    <h3 mat-line>{{recording.title}}</h3>
                    <p mat-line [artist-credits]="recording.artistCredits"></p>
                </a>
            </mat-nav-list>
        </mat-card>

    </mat-tab>
</mat-tab-group>
