<md-tab-group backgroundColor="primary" color="accent">
    <md-tab label="Artist">
        <md-card class="card-standalone">
            <md-card-content>
                <form (ngSubmit)="searchArtist()" #artistSearchForm="ngForm">
                    <div>
                        <md-form-field>
                            <input mdInput type="text" placeholder="Search" [(ngModel)]="query.artists" name="artist" />
                        </md-form-field>
                    </div>
                    <button type="submit" md-raised-button md-block color="primary">Search</button>
                </form>
            </md-card-content>
        </md-card>

        <div *ngIf="loading.artists" class="loader">
            <md-progress-spinner mode="indeterminate"></md-progress-spinner>
        </div>

        <md-card class="card-standalone" *ngIf="result.artists">
            <md-nav-list>
                <a md-list-item *ngFor="let artist of result.artists; trackBy: trackById"
                   [routerLink]="['/artists', artist.id]">
                    <h3 mat-line>{{artist.name}}</h3>
                    <p mat-line>{{artist.disambiguation}}</p>
                </a>
            </md-nav-list>
        </md-card>
    </md-tab>
    <md-tab label="Release Group">
        <md-card>Release Group</md-card>
    </md-tab>
    <md-tab label="Release">
        <md-card>Release</md-card>
    </md-tab>
    <md-tab label="Recording">
        <md-card>Recording</md-card>
    </md-tab>
</md-tab-group>
