<mat-card *ngIf="(releaseGroup$ | async) as releaseGroup" class="mb-3">
    <h2 class="mat-title mb-1 text-muted" [artist-credits]="releaseGroup.artistCredits"></h2>
    <h1 class="mat-headline">{{releaseGroup.title}}</h1>
</mat-card>

<mat-card *ngIf="(releases$ | async) as releases">
    <mat-nav-list>
        <a mat-list-item *ngFor="let release of releases"
           [routerLink]="['/release', release.id]">
            <h3 mat-line>{{release.title}}</h3>
            <ul mat-line class="mb-list-inline">
                <li *ngIf="release.country">{{release.country}}</li>
                <li *ngIf="release.date">{{release.date | flexDate}}</li>
            </ul>
        </a>
    </mat-nav-list>
</mat-card>
